<div class="tool-pagination">
	{% if posts.pagination.prev %}
		<a href="{{ posts.pagination.prev.link }}" class="prev"><i class="icon-custom-arrow-left-liner " aria-hidden="true"></i></a>
	{% else %}
		<span class="prev disabled"><i class="icon-custom-arrow-left-liner " aria-hidden="true"></i></span>
	{% endif %}
	<ul class="pages">
		{% for page in posts.pagination.pages %}
			<li>
				{% if page.link %}
					<a href="{{ page.link }}" class="{{ page.class }}">{{page.title}}</a>
				{% else %}
					<span class="{{ page.class }}">{{ page.text }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% if posts.pagination.next %}
		<a href="{{ posts.pagination.next.link }}" class="next"><i class="icon-custom-arrow-right-liner " aria-hidden="true"></i></a>
	{% else %}
		<span class="next disabled"><i class="icon-custom-arrow-right-liner " aria-hidden="true"></i></span>
	{% endif %}
</div>