<div id="zy-search" class="{{ posts_type }}" style="--thumbnail: url('{{ thumbnail }}')">
    <div class="list-post-context">
        {% if not frontpage %}
            <h2>{{ post.post_title }}</h2>
        {% endif %}
        {% if single %}
            <p>{{ post.subtitle }}</p>
        {% endif %}
    </div>
    {% if frontpage %}
    <div class="input-wrapper">
        <form class="form-search" method="GET" action="{{ site.url }}">
            <input type="text" name="s" placeholder="What are you looking for ?">
            <img src="{{ base_url }}/new-assets/img/icon-lens.png">
        </form>
    </div>
    {% endif %}
</div>