{# <pre>{{ function('get_post_categories', p.id) }}</pre> #}
{# <pre>{{ p.terms|print_r }}</pre> #}

<div class="zy-postcard 
    {% if p.terms %}
        {% for t in p.terms %}
            {% if t.parent != '0' %}
                {{ t.name|lower|replace({" ":""}) }} 
            {% elseif t.taxonomy == 'category' %}
                {{ t.name|lower|lower|replace({" ":""}) }}
            {% endif %}
        {% endfor %}
    {% else %}
        {{ p.post_type }}
    {% endif %}">
    <div class="zy-postcard-wrapper">
        {% if p.meta('thumbnail-image') %}
            <div class="zy-postcard-thumbnail">
                <div class="zy-postcard-thumbnail-image" style="background-image: url({{ p.meta('thumbnail-image') }})"></div>
            </div>
        {% elseif p.thumbnail %}
            <div class="zy-postcard-thumbnail">
                <div class="zy-postcard-thumbnail-image" style="background-image: url({{ p.thumbnail }})"></div>
            </div>
        {% endif %}
        <div class="zy-postcard-content">
            <div class="zy-postcard-post-type">
                {# <pre>{{ p.terms|print_r }}</pre> #}
                {% if p.terms %}
                    {% for t in p.terms %}
                        {% if t.taxonomy == 'library-type' and t.parent == 0 %}
                            <span>{{ t.name }}</span>
                        {% elseif t.taxonomy == 'library-type' and t.parent == 52 %}
                            <span>{{ t.name }}</span>
                        {% elseif t.taxonomy == 'category' %}
                            <span>{{ t.name }}</span>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <span>{{ p.type }}</span>
                {% endif %}

                {% set isBook = false %}
                {% for t in post.terms %}
                    {% if t.slug == 'books' %}
                        {% set isBook = true %}
                    {% endif %}
                {% endfor %}

                    - {{ p.date }}{% if p.type != 'apps' and p.type != 'website' and not isBook %} - {{ function('get_word_count', p.content) }}{% endif %}
            </div>
            <div class="zy-postcard-title">
                <h3><a href="{{ p.link }}">{{ p.post_title }}</a></h3>
                <h4>{{ p.subtitle }}</h4>
                <p class="speakers">
                    {% for s in p.terms %}
                        {% if s.taxonomy == 'speaker' %}
                            <span>{{ s.name }}</span>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% if p.post_type == 'book' %}
        <div class="zy-postcard-pdf">
            <a href="{{ site.url }}/wp-content/uploads/{{ p.meta('resources_file').filename  }}" target="_blank"><h4>Download PDF <img src="{{ base_url }}/new-assets/img/download-pdf.png"></h4></a>
        </div>
    {% endif %}
    {% if p.post_type == 'website' %}
        <div class="zy-postcard-website">
            <a href="{{ p.resources_url }}" target="_blank"><h4>Visit Website ></h4></a>
        </div>
    {% endif %}
    {% if p.post_type == 'apps' %}
        <div class="zy-postcard-app">
            <a href="{{ p.meta('url_app_store') }}" target="_blank"><img src="{{ base_url }}/new-assets/img/Store=App Store, Style=Black.png"></a>
            <a href="{{ p.meta('url_google_play') }}" target="_blank"><img src="{{ base_url }}/new-assets/img/Store=Google Play, Style=Black.png"></a>
        </div>
    {% endif %}
    <div class="zy-postcard-readmore">
        <a href="{{ p.link }}"><h4>Read more <img src="{{ base_url }}/new-assets/img/read-more.png"></h4></a>
    </div>
</div>