{# <pre>{{ post.terms|print_r }}</pre> #}
{% if post.post_type in ['website', 'apps', 'library', 'news'] %}


	{% if post.post_type == 'website' %}
		<div class="banner-post-image banner--website ">
			<div class="row">
				<div class="col-sm-6">
					<h1 class="banner-post-image__title"> {{ post.title }}</h1>
					<p class="banner-post-image__subtitle"> {{ post.subtitle }}</p> 				
					<a class="banner-post-image__btn btn btn-lg btn-white" href="{{ post.meta('resources_url') }}" rel="nofollow" target="_blank"> Visit site <small class="icon-custom-link ml20"></small> </a>
				</div>
				<div class="col-sm-6">
					<div class="banner-figure banner-figure--website">
						<div class="banner-figure__inner">
							<img src="{{ post.thumbnail }}">
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if post.post_type == 'apps' %}
		<div class="banner-post-image banner--apps ">
			<div class="row">
				<div class="col-sm-6">
					<h1 class="banner-post-image__title"> {{ post.title }}</h1>
					<p class="banner-post-image__subtitle"> {{ post.subtitle }}</p> 				
					<div class="banner-post-image__download-apps">
						<p class="banner-post-image__download-apps-label"> Get the app</p>
						<a class="banner-post-image__download-apps-btn" href="{{ post.meta('url_google_play') }}" title="Get it on Google Play" target="_blank" rel="noopener nofollow">
							<img src="https://vein-academy.servier.com/wp-content/themes/servier/assets/img/apps/btn-google-play-md.png" alt="btn-google-play">
						</a>
						<a class="banner-post-image__download-apps-btn" href="{{ post.meta('url_app_store') }}" title="Download on the App Store" target="_blank" rel="noopener nofollow">
							<img src="https://vein-academy.servier.com/wp-content/themes/servier/assets/img/apps/btn-app-store-md.png" alt="btn-google-play">
						</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="banner-figure banner-figure--apps">
						<div class="banner-figure__inner">
							<div class="app-background" style="background-image: url({{ function('wp_get_attachment_url', post.apps_gallery.0) }})"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if post_type == 'news' %}
		<div class="banner-post banner--news">
			<h1 class="banner-post__title">{{ post.title }}</h1>
			<p>{{ post.subtitle }}</p>
			{% if post.terms %}
				<div class="banner-post__category"><span>{{ post.terms.0.name }}</span></div>
			{% endif %}
			<p class="banner-post__date"> {{ post.date }} - 2 min read</p>
		</div>
	{% endif %}

	{% if post_type == 'library' %}
		{% for t in post.terms %}
			{% if t.slug == 'books' %}
				<div class="banner-post banner-books">
					<div class="row row-col-vertical">
						<div class="col-sm-6">
							<h1 class="banner-post-image__title"> {{ post.title }}</h1>
							<a class="banner-post-image__btn btn btn-lg btn-white" href="https://vein-academy.servier.com/wp-content/uploads/7993-dico-VEIN-complet.pdf" download="7993-dico-vein-complet"> Download <i class="icon-custom-pdf ml20 f14"></i> </a>
						</div>
						<div class="col-sm-6">
							<div class="banner-figure banner-figure--book">
								<div class="banner-figure__inner" title="The vein glossary (updated 2020 version)" data-bg="https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://vein-academy.servier.com/wp-content/uploads/carte_54x86_2020_180220-1.png" style="background-image: url('https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://vein-academy.servier.com/wp-content/uploads/carte_54x86_2020_180220-1.png')"> 
									<img width="542" height="819" src="/https://vein-academy.servier.com/wp-content/uploads/carte_54x86_2020_180220-1.png" class=" hidden img-responsive wp-post-image" />
								</div>
							</div>
						</div>
					</div>
				</div>
			{% elseif t.slug == 'guidelines' %}
				<div class="banner-post banner--guidelines ">
					<h1 class="banner-post__title">{{ post.title }}</h1>
					<p>{{ post.subtitle }}</p>
					<p class="banner-post__category"> <span>{{ t.name }}</span></p>
					<p class="banner-post__date"> {{ post.date }}</p>
				</div>
			{% elseif t.slug == 'studies' %}
				<div class="banner-post banner--studies ">
					<h1 class="banner-post__title">{{ post.title }}</h1>
					<p>{{ post.subtitle }}</p>
					<p class="banner-post__category"> <span>{{ t.name }}</span></p>
					<p class="banner-post__date"> {{ post.date }}</p>
				</div>
			{% elseif t.slug == 'reviews' %}
				<div class="banner-post banner--reviews ">
					<h1 class="banner-post__title">{{ post.title }}</h1>
					<p>{{ post.subtitle }}</p>
					<p class="banner-post__category"> <span>{{ t.name }}</span></p>
					<p class="banner-post__date"> {{ post.date }}</p>
				</div>
			{% elseif t.slug == 'videos-presentations' %}
				<div class="banner-post banner--library discovery-tools">
					<h1 class="banner-post__title">{{ post.title }}</h1>
					<p>{{ post.subtitle }}</p>
					<p class="banner-post__category"> 
						{% if post.file_video or post.embed %}
							<span>Video</span>
						{% else %}
							<span>Presentation</span>
						{% endif %}
					</p>
					<p class="banner-post__date"> {{ post.date }}</p>
				</div>
			{% elseif t.slug == 'experts-interviews' %}
				<div class="banner-post banner--library">
					{% for t2 in post.terms %}
						{% if t2.taxonomy == 'speaker' %}
							<p>{{ t2.name }}</p>
						{% endif %}
					{% endfor %}
					<h1 class="banner-post__title">{{ post.title }}</h1>
					<p>{{ post.subtitle }}</p>
					<p class="banner-post__category"> <span>{{ t.name }}</span></p>
					<p class="banner-post__date"> {{ post.date }}</p>
					{% if p.meta('video_time') %}{{ p.meta('video_time') }}{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

{% endif %}