{% set date = post.date("d F Y") %}
{% set speaker = post.terms('speaker')|first %}

{% set library_type = post.terms('library-type')|join(' ') %}
{% set isEducational = 'Educational' in library_type %}
{% set isInterview = 'Interviews' in library_type %}

{% set image = post.thumbnail.src('medium')|default('http://via.placeholder.com/295x165?text=No+Image') %}
{% set thumbnail_publi = post.get_field('thumbnail-image') %}
{% set title = post.title %}

<article class="teaser-library {{ class }}
    {{ 'teaser--'~post.post_type }}
    {% if isEducational %} {{ 'teaser-library--isEducational' }}  {% endif %}
    {% if isInterview %} {{ 'teaser-library--isInterview' }}  {% endif %}"
>
    <a class="teaser-library__inner"
       href="{{ post.link }}"
       title=" {{ title }}"
    >

        {% if date and not is_home %}
            <p class="teaser-library__date">
                {% if isInterview %}
                    <small class="gray-lighter">{{ __('Published: ') }}</small>
                {% endif %}
                {{ date }}
            </p>
        {% endif %}

        <figure class="teaser-library__image"
			{% if thumbnail_publi %}
				style="background-image: url('{{ thumbnail_publi }}');height: 135px;";
			{% elseif image %}
				style="background-image: url('{{ image }}');height: 135px;";
			{% endif %}
        >
        </figure>

        {% if speaker %}
            <p class="teaser-library__speaker">
                {{ not is_home ? 'Speaker: ' : '' }} {{ speaker }}{% if is_home %}<span class="normal">, {{ title|truncate(3) }}</span>{% endif %}
            </p>
        {% endif %}

        {% if not is_home %}
            <p class="teaser-library__title">
                {{ title|truncate(12) }}
            </p>
            <div class="teaser-library__excerpt">
                {#excert#}
                {% set post_excert %}
                    {% if post.subtitle %}
                        {{ post.subtitle|truncate(7) }}
                    {% elseif post.post_excerpt %}
                        {{ post.post_excerpt }}
                    {% else %}
                        {{ post.post_content|truncate(7) }}
                    {% endif %}
                {% endset %}

                {{ post_excert }}

            </div>

        {% endif %}

    </a>
</article>