{% extends "new_base.twig" %}

{% set hasBannerPostImage = post_type in ['website', 'book','apps'] %}
{% set isWebsite = post_type == 'website' %}

{% set hasResourcesInBanner = isWebsite or isBook %}

{% set resources = post.get_field('resources') %}

{% block body_class %}
    {% if (not hasBannerPostImage) and (post.embed or post.thumbnail or post.file_video) %}
        {{ parent()~'contentHasMedia' }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="zy-sidebar-wrapper">
                <div id="zy-sidebar">
                    {% block sidebar %}
                        {% include "layout/new_sidebar.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            
            <div class="main-content single">
                <div class="single-header">
                    {% include 'partials/single-header.twig' %}
                </div>
                {% if post.file_video and (post.terms.0.slug == 'videos-presentations' or post.type == 'news' or post.terms.2.slug == 'experts-interviews') %}
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9 mb-15">
                        {{ fn('wp_video_shortcode', {
                            'mp4': post.get_field('file_video').url
                        }) }}
                    </div>
                {% elseif post.embed and post.is_embed_enabled %}
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9 mb-15">
                        {{ post.get_field('embed') }}
                    </div>
                {% elseif post.thumbnail and (post.terms.0.slug == 'videos-presentations' or post.type == 'news' or post.terms.2.slug == 'experts-interviews') %}
                    {{ function('get_the_post_thumbnail', post.ID, 'full', {
                        'class': 'img-responsive center-block mb-15',
                        'draggable': 'false',
                        'alt': post.title
                    }) }}
                {% endif %}
                <div class="post-content">
                    {% include 'partials/post-event-data.twig' %}

                    <article class="post-content">
                        {#The content#}
                        {{ post.content }}

                        {#publication url#}
                        {% if post.meta('publication_url') %}
                            <div class="publication-url">
                                <a href="{{ post.meta('publication_url') }}">Read the full text <img src="{{ base_url }}/new-assets/img/_blank.png"></a>
                            </div>
                        {% endif %}

                        {#social buttons#}
                        {{ function('do_shortcode', '[social_warfare buttons="twitter,linkedin,facebook,mix"]') }}

                        {#Flexible content#}
                        {% if post.get_field('flexible_content') %}
                            {% include 'partials/post-flexible-content.twig' %}
                        {% endif %}

                    </article>
                    {#resources#}
                    {% if (resources.url or resources.file) and post.terms.0.slug == 'discovery-tools' %}
                        {% include 'partials/post-resources.twig' %}
                    {% endif %}

                    {#Date for books#}
                    {% if isBook %}
                        <hr style="border-width: 2px;border-color: #6b7a96;">
                        <p class="f14">
                            {{ 'Published the '~ post.date('d/m/y') }}
                        </p>
                    {% endif %}

                    {#Plugin Juiz Social post sharer #}
                    {% if constant('JUIZ_SPS_VERSION') is defined and (post._jsps_metabox_hide_buttons and 'off' in post._jsps_metabox_hide_buttons) %}
                        {% include 'partials/share-buttons.twig' %}
                    {% endif %}

                    {#Related posts#}
                    {% include 'partials/post-related.twig' %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}