{% extends "new_base.twig" %}
{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="zy-sidebar-wrapper">
                <div id="zy-sidebar">
                    {% block sidebar %}
                        {% include "layout/new_sidebar.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="main-content">
                {% include "partials/new_search.twig" %}
                {# <pre>{{posts|print_r}}</pre> #}
                <div class="results-sorting">
                    <div id="search-post-types">
                        <div class="search-post-types-holder">Type of content</div>
                        <div class="search-post-types-options">
                            <div class="placeholder-sim">Type of content <div class="arrow opened"><img src="{{ base_url }}/new-assets/img/select-arrow.png"></div></div>
                            <form id="form-post-types">
                            {% for option in options %}
                                <label for="{{ option }}" class="post-types-label">
                                    <input id="{{ option }}" type="checkbox" name="post-types" value="{{ option }}">
                                    <div class="post-types-checkbox"></div>
                                    <label for={{ option }}>{{ option }}</label>
                                </label>
                            {% endfor %}
                            </form>
                        </div>
                        <div class="arrow closed"><img src="{{ base_url }}/new-assets/img/select-off-arrow.png"></div>
                    </div>
                    <select id="search-sort" style="width: 216px;">
                        <option></option>
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Most Popular</option>
                    </select>
                </div>
                <p class="results-query">{{posts.found_posts}} results for: {{search_query}}</p>
                <div class="best-content">
                    {% for p in posts %}
                        {% include "partials/new_postcard.twig"
                            with p|array %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}