{% extends "new_base.twig" %}
{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="zy-sidebar-wrapper">
                <div id="zy-sidebar">
                    {% block sidebar %}
                        {% include "layout/new_sidebar.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="main-content">
                {% include "partials/new_search.twig" %}
                {# <pre>{{posts|print_r}}</pre> #}
                {% if posts.found_posts > 0 %}
                <div class="results-sorting">
                    <div id="search-post-types">
                        <div class="search-post-types-holder">Type of content</div>
                        <div class="search-post-types-options">
                            <div class="placeholder-sim">Type of content <div class="arrow opened"><img src="{{ base_url }}/new-assets/img/select-arrow.png"></div></div>
                            <form id="form-post-types">
                            {% for tag in tags %}
                                <label for="{{ tag.name }}" class="post-types-label">
                                    <input id="{{ tag.name }}" type="checkbox" name="post-types" value="{{ tag.slug }}">
                                    <div class="post-types-checkbox"></div>
                                    <label for={{ tag.name }}>{{ tag.name }}</label>
                                </label>
                            {% endfor %}
                            </form>
                        </div>
                        <div class="arrow closed"><img src="{{ base_url }}/new-assets/img/select-off-arrow.png"></div>
                    </div>
                    <select id="search-sort" style="width: 216px;">
                        <option></option>
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Most Popular</option>
                    </select>
                </div>
                
                <p class="results-query">{{posts.found_posts}} results for: {{search_query}}</p>
                <div class="best-content">
                    {% for p in posts %}
                        {% include "partials/new_postcard.twig"
                            with p|array %}
                    {% endfor %}
                </div>
                {% else %}
                    <div class="no-posts-found">
                        <div class="no-posts-found-image"><img src="{{ base_url }}/new-assets/img/no-posts.png"></div>
                        <h3>Sorry we couldn’t find any matches for "{{ search_query }}"</h3>
                        <p>Please try searching or filter with another term</p>
                    </div>
                    <h2 class="section-title">Our most popular content</h2>
                    <div class="most-popular">
                        {% for p in no_posts %}
                            {% include "partials/new_postcard.twig"
                                with p|array %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if posts.pagination.total > 1 %}
                {% include "partials/new_pagination.twig" %}
            {% endif %}
        </div>
    </div>
    
{% endblock %}