{% extends "new_base.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="zy-sidebar-wrapper">
                <div id="zy-sidebar">
                    {% block sidebar %}
                        {% include "layout/new_sidebar.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="main-content">
                {% include "partials/new_search.twig" %}
                <h2 class="section-title">What's new on Vein Academy</h2>
                
                {% set post1 = new_posts.0 %}
                {% set post2 = new_posts.1 %}
                {% set post3 = new_posts.2 %}
                {% set post4 = new_posts.3 %}
                
                <div class="new-content">
                    <div class="new-content-left">
                        <a href="{{ post1.link }}" class="square-box-big" style="--bg: url({{ post1.meta('thumbnail-image') }});">
                            <div class="square-box-big-content">
                                <p class="date">{{ post1.date }}</p>
                                <p class="title">{{ post1.title }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="new-content-right">
                        <div class="new-content-right-top">
                            <a href="{{ post2.link }}" class="square-box-small" style="--bg: url({{ post2.meta('thumbnail-image') }});">
                                <div class="square-box-content">
                                    <p class="date">{{ post2.date }}</p>
                                <p class="title">{{ post2.title }}</p>
                                </div>
                            </a>
                            <a href="{{ post3.link }}" class="square-box-small" style="--bg: url({{ post3.meta('thumbnail-image') }});">
                                <div class="square-box-content">
                                    <p class="date">{{ post3.date }}</p>
                                <p class="title">{{ post3.title }}</p>
                                </div>
                            </a>
                        </div>
                        <div class="new-content-right-bottom">
                            <a href="{{ post4.link }}" class="square-box-long" style="--bg: url({{ post4.meta('thumbnail-image') }});">
                                <div class="square-box-content">
                                    <p class="date">{{ post4.date }}</p>
                                <p class="title">{{ post4.title }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <h2 class="section-title">Our best reading content</h2>
                <div class="best-content">
                    {% for p in posts %}
                        {% include "partials/new_postcard.twig"
                            with p|array %}
                    {% endfor %}
                </div>
            </div>
            {% if posts.pagination.total > 1 %}
                {% include "partials/new_pagination.twig" %}
            {% endif %}
        </div>
    </div>
    
{% endblock %}