{% extends "new_base.twig" %}
{% block content %}
{{page.url}}
    <div class="row">
        <div class="col-sm-3">
            <div class="zy-sidebar-wrapper">
                <div id="zy-sidebar">
                    {% block sidebar %}
                        {% include "layout/new_sidebar.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="main-content">
                {% include "partials/new_search.twig" %}
                {# <pre>{{posts|print_r}}</pre> #}
                {# <pre>{{filters|print_r}}</pre> #}
                <div class="results-sorting">
                    <div id="filters">
                        <p>Filter by</p>
                        {% for f in filters %}
                            <a 
                            href="{% if f.slug != filt %}{{ clean_url }}?filter={{ f.slug }}{% else %}{{ clean_url }}{% endif %}" 
                            class="filter-item {% if f.slug == filt %}active{% endif %}" 
                            data-toggle="{{ f.slug }}">{{ f.name }} ({{ f.count }})</a>
                        {% endfor %}
                    </div>
                    <select id="search-sort" style="--d-width: 216px; --m-width: 150px">
                        <option></option>
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Most Popular</option>
                    </select>
                </div>
                <div class="best-content">
                    {% for p in posts %}
                        {% include "partials/new_postcard.twig"
                            with p|array %}
                    {% endfor %}
                </div>
                <div class="the-posts">
                    {% for p in no_posts %}
                        {% include "partials/new_postcard.twig"
                            with p|array %}
                    {% endfor %}
                </div>
            </div>
            <div class="tool-pagination">
                {% if posts.pagination.prev %}
                    <a href="{{ posts.pagination.prev.link }}" class="prev {{ posts.pagination.prev.link|length ? '' : 'invisible' }}">Prev</a>
                {% endif %}
                <ul class="pages">
                    {% for page in posts.pagination.pages %}
                        <li>
                            {% if page.link %}
                                <a href="{{ page.link }}" class="{{ page.class }}">{{page.title}}</a>
                            {% else %}
                                <span class="{{ page.class }}">{{ page.title }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if posts.pagination.next %}
                    <a href="{{ posts.pagination.next.link }}" class="next {{ posts.pagination.next.link|length ? '' : 'invisible' }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}