<form class="search-form {{ class }}" role="search" method="get" id="searchform" action="{{ site.url }}" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
    <meta itemprop="target" content="{{ site.url }}/?s={s}"/>

    <button type="submit" class="search-form__button">
        <i class="icon-custom-search"></i>
    </button>
    <input class="search-form__input form-control" type="text" value="{{ search_query }}" name="s" id="s" placeholder="{{ __('Search') }}" itemprop="query-input" required>
</form><!-- /.search-form -->